$blue:#4169E1;
$blue-light:#abbff8;
$light:#ecf2f3;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.content {
    display: flex;
    margin: 100px auto 25px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    h1{
        img{
            width: 70px;
            position: relative;
            top:15px;
        }
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
    }
    .rappel{
        border:0.4px solid $blue;
        border-radius: 15px;
        width: 70%;
        a{
            text-decoration: none;
            color:black;
        }
        margin-top:4%;
        
        table {
            margin: 15px auto 30px;
            border-collapse: collapse;
            width: 100%;

            thead {
                border-radius: 15px;
                tr {
                    height: 70px;
                    th{
                        padding:5px;
                        width: 22%;
                        text-align: center;
                        &:last-child(){
                            width:34%;
                        }
                    }
                }
            }

            tbody{
                tr {
                    height: 50px;
                    td{
                        padding:5px;
                        width: 22%;
                        text-align: center;
                        
                        &:last-child(){
                            width:34%;
                        }
                    }
                    &:hover{
                        background-color: $light;
                    }
                }
            }
        }
    }
}

