<app-view-toolbar></app-view-toolbar>
<div class="content">
    <h1>
        <img src="assets/images/rappel.png" alt=appointment/> 
        Mes rappels
    </h1>

    <div class="rappel">
        <table>
            <thead>
              <tr>
                <th>Type de rappel</th>
                <th>Nom du rappel</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rappel of tabcontent">
                <td>{{getType(rappel.priority)}}</td>
                <td>{{rappel.description}}</td>
                <td *ngIf="rappel.priority=='routine'">
                  Les lundis, jeudis à {{rappel.executionPeriod}}
                </td>
                <td *ngIf="rappel.priority=='urgent'">
                  Le {{rappel.executionPeriod}}
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

