<app-view-toolbar></app-view-toolbar>
<div class="content">
    <h1>
        <img src="assets/images/rappel.png" alt=appointment/> 
        Mes rappels
    </h1>

    <div class="rappel">
        <table>
            <thead>
              <tr>
                <th>Statut du rappel</th>
                <th>Type de rappel</th>
                <th>Nom du rappel</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let rappel of tabcontent">
                <td>{{getStatus(rappel.status,rappel.priority)}}</td>
                <td>{{getType(rappel.priority)}}</td>
                <td>{{rappel.description}}</td>
                <td *ngIf="rappel.priority=='routine'">
                  Les {{getFrequence(rappel.executionPeriod.start,rappel.note[0].text)}}
                </td>
                <td *ngIf="rappel.priority=='urgent'">
                  Le {{transformDate(rappel.executionPeriod.start)}}
                </td>
              </tr>-->
            </tbody>
          </table>
    </div>
</div>

