$blue:#4169E1;
$blue-light:#abbff8;
$light:#ecf2f3;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:host ::ng-deep .content {
    display: flex;
    margin: 100px auto 25px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
    }
    .menu{
        a{
            text-decoration: none;
            color:black;
        }
        margin-top:4.5%;
        display: grid;
        grid-template-areas: 
        'profil parameter rappel questionnaire';
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap:25px;
        div.card{
            border: 1px solid $blue;
            width: 250px;
            height: 300px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10% 10px;
            span{
                font-size: 17px;
                font-weight: bold;
            }
            img{
                margin-top:25%;
                width: 150px;
            }
            &#profil{
                grid-area: profil;
            }
            &#parameter{
                grid-area:parameter;
            }
            &#rappel{
                grid-area: rappel;
            }
            &#questionnaire{
                grid-area: questionnaire;
            }
            &:hover{
                color:#666868;
                cursor: pointer;
                border: 1px solid $light;
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            }
            .mat-badge-content{
                background: #233B6E;
                color: white;
                padding: 10px 15px !important;
                border-radius: 50% !important;
                position: relative !important;
                top: -280px !important;
                left: 135px !important;
                width: 12px !important;
            }
        }
        div.alert{
            position: absolute;
            float: right;
            right: 25px;
            bottom: 20px;
            background: red;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            line-height: 48px;
            color: white;
            font-weight: bold;
        }
    }
}
