<app-view-toolbar></app-view-toolbar>
<div class="content">
    <h1>Bienvenue {{getGender(patient.gender)}} {{getOfficialName(patient.name)}}</h1>

    <div class="menu">
        <div id="profil">
            <span>Mon profil</span>
            <img src="assets/images/profil.png" alt=profil/>
        </div>
        <div  id="parameter">
            <span>Paramètres</span>
            <img src="assets/images/lecteur-de-glycemie.png" alt=parameters/>
        </div>
        <div id="medication">
            <span>Médicaments</span>
            <img src="assets/images/medicaments.png" alt=medication/>
        </div>
        <div id="questionnaire">
            <span>Questionnaire</span>
            <img src="assets/images/nous-faire-parvenir.png" alt=questionnaire/>
        </div>
    </div>
</div>

