<app-view-toolbar></app-view-toolbar>
<div class="content">
    <h1>Bienvenue {{getGender(patient.gender)}} {{getOfficialName(patient.name)}}</h1>

    <div class="menu">
        <a routerLink="/profil">
            <div id="profil">
                <span>Mon profil</span>
                <img src="assets/images/profil.png" alt=profil/>
            </div>
        </a>
        <a routerLink="/parameters">
            <div  id="parameter">
                <span>Paramètres</span>
                <img src="assets/images/lecteur-de-glycemie.png" alt=parameters/>
            </div>
        </a>
        <a routerLink="/medication">
            <div id="medication">
                <span>Médicaments</span>
                <img src="assets/images/medicaments.png" alt=medication/>
            </div>
        </a>
        <a routerLink="/questionnaire">
            <div id="questionnaire">
                <span>Questionnaire</span>
                <img src="assets/images/nous-faire-parvenir.png" alt=questionnaire/>
            </div>
        </a>
    </div>
</div>

