$blue-night:#233B6E;
$blue-light:#abbff8;
$light:#7a8183;
$red:#ff0000;
$green:#00ff00;
$blue:#4169E1;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


@keyframes shake{
    from{transform: rotate(0deg);}
    to{transform: rotate(-10deg);}
    to{transform: rotate(10deg);}
}
.spacer {
    flex: 1;
}


.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #2c2b2b;
    padding: 0 10px 0 0;
      
    div{
        &.rappel{
            position: relative;
            top:16px;
            right:30px;
            border-radius: 5px;
            padding:10px 30px;
            text-align: center;
            background-color: $blue-night;
            color: white;
            span{
                position: relative;
                left:3px;
                top:-4px;
            }
            img{
                position: relative;
                top:2px;
                right:3px;
            }
            &:hover{
                cursor: pointer;
                transform: translateY(-1px);
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            }
        }
    }
    img {
        &#logo-img{
            padding-top : 30px;
            width:300px;
            &:hover{
                cursor: pointer;
            }
        }
        &#alert-img {
            padding-top : 30px;
            width: 50px;
            &:hover{
                animation: shake 0.5s ease infinite alternate;
                cursor: pointer;
            }
        }
    }

    
}
 
#dark-background{
    background: rgba(0,0,0,0.7);
    top:0;
    z-index:2;
    position: fixed;
    width: 100%;
    height: 100%;

    #appointmentPopup {
        width:60%;
        margin:9% auto;
        border: 2px solid $blue-night;
        background-color: white;

        .popupHeader{
            border: 2px solid $blue-night;
            padding:18px;
            text-align: center;
            color:white;
            background: $blue-night;
            font-weight: 500;
            font-size:20px;
            .fas{
                position: relative;
                float: right;
                font-size: 30px;
                margin-top:-5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .popupBody{
            padding:30px;
            text-align: center;
            input,select{
                display: inline-block;
                margin: 20px 5px 5px 5px;
                border:1px solid $blue-light;
                color:$blue-light;
                font-weight: 600;
                padding:8px;
                border-radius: 8px;
                width: 200px;
                &:focus{
                    outline:0;
                }
                &::placeholder{
                    color:$blue-light;
                    font-weight: normal;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            button{
                border:1.5px solid $blue-night;
                border-radius:8px;
                background-color: $blue-night;
                color:white;
                padding:8px;
                width:110px;
                margin-top:20px;
                font-size:14px;
                transition: all 0.2s ease-in-out;
                &:hover{
                    cursor: pointer;
                    transform: translateY(-3px);
                    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

                }
                
            }
        }
    }
}

:host ::ng-deep {
    .mat-chip-list-wrapper{
        margin:25px auto 10px !important;
    }
    .box-day{
        display: inline-block;
        background-color: $blue-light;
        width: 13.2%;
        border-radius: 8px !important;
        &:hover{
            cursor: pointer;
            background-color: $blue-night;
            color: white;
        }
    }
    .box-day.box-day-selected{
        background-color: $blue-night;
        color: white;
    }
}