$blue:#4169E1;
$blue-light:#abbff8;
$light:#ecf2f3;
$blue-night:#233B6E;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.content {
    display: flex;
    margin: 100px auto 25px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    h1{
        img{
            position: relative;
            top:30px;
            width: 90px;
        }
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
    }
    .menu{
        margin-top:8%;
        display: grid;
        grid-template-areas: 
        'glycémie poids activite';
        grid-template-columns: 33% 33% 33%;
        grid-gap:25px;
        .property{
            width: 250px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10% 10px;
            span{
                font-size: 17px;
                font-weight: bold;
            }
            img{
                width: 80px;
                margin-right: auto;
                margin-left: auto;
            }
            h2{
                position : relative;
                bottom : 60px;
                font-size: 22px;
                font-weight: bold;
            }
            &#glycémie{
                grid-area: glycémie;
            }
            &#poids{
                grid-area:poids;
            }
            &#activite{
                grid-area: activite;
            }

            input{
                margin-top:30px;
                border-radius: 5px;
                border-color: $blue;
                width: 240px;
                max-width: 99%;
                min-height: 30px;
            }

            #activity{
                margin-top:30px;
                border-radius: 5px;
                border-color: $blue;
                width: 240px;
                height: 38px;
                max-width: 99%;
                min-height: 30px; 
            }
            .image{
                border: 1px solid black;
                border-radius: 50%;
                width:140px;
                height:140px;
                box-shadow: 5px 5px 2px #aaa; 
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
    }

    
    button{
        border: 1px solid $blue;
        background-color: $blue-night;
        color : white;
        width: 250px;
        height: 30px;
        margin-top: 20px;
        border-radius: 10px;
        align-items: center;
        padding: 10px 10px 30px 10px;
        font-size: 17px;
        &:hover{
            color:$light;
            cursor: pointer;
            border: 1px solid $light;
            transform: translateY(-3px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }
    }
    
    
}

