$blue:#4169E1;
$blue-light:#abbff8;
$light:#ecf2f3;
$blue-night:#233B6E;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.content {
    display: flex;
    margin: 100px auto 25px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    h1{
        img{
            position: relative;
            top:30px;
            width: 90px;
        }
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
    }
    .menu{
        margin-top:8%;
        display: grid;
        grid-template-areas: 
        'glycémie poids activite';
        grid-template-columns: 33% 33% 33%;
        grid-gap:20px;
        .property{
            border: 1px solid $blue;
            width: 250px;
            height: 300px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10% 0 10px 10px;
            span{
                font-size: 15px;
                &.title{
                    font-size: 17px;
                    font-weight: bold;
                    display: flex; 
                    justify-content: center; 
                    bottom : 60px;
                }
            }
            img{
                width: 120px;
                bottom : 80px;
                background-color: white;
            }
            .item{
                text-align: center;
                top:-100px;
                display : block;
                position : relative;
                margin-left: auto;
                margin-right: auto;
            }
            .scroller{
                position : relative;
                top:-40px;
                overflow-y: auto;
                padding:0 5px 0 2px;
                height: 300px;
                width: 95% !important;
                div{
                    margin-bottom: 2px;
                    padding:5px;
                    &:hover{
                        background-color: $light;
                    }
                }
                &::-webkit-scrollbar-track{
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	                background-color: $blue;
                }
                &::-webkit-scrollbar{
                    width:6px;
                    background-color: $blue-night;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #000000;
                }
            }
            
            &#glycémie{
                grid-area: glycémie;
            }
            &#poids{
                grid-area:poids;
            }
            &#activite{
                grid-area: activite;
            }
        }
    }

    .ajout{
        margin-top: 35px;
        position : relative;
        left : 330px;

        .button{
            border-radius: 5px;
            margin:5px 0 auto auto;
            position: relative;
            float:right;
            font-weight: 600;
            padding:12px 40px;
            color:white;
            border: 0.5px solid $blue-night;
            background-color: $blue-night;
            &:hover{
                cursor: pointer;
                border: 1px solid $blue;
                background-color: $blue;
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            }
        }
    }
    
}

