$blue:#4169E1;
$blue-light:#abbff8;
$light:#7a8183;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.content {
    display: flex;
    margin: 100px auto 25px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    h1{
        img{
            position: relative;
            top:30px;
            width: 90px;
        }
        font-family: 'Patrick Hand', cursive;
        font-size: 50px;
    }
    .menu{
        margin-top:8%;
        display: grid;
        grid-template-areas: 
        'glycémie poids activite';
        grid-template-columns: 33% 33% 33%;
        grid-gap:25px;
        .property{
            border: 1px solid $blue;
            width: 250px;
            height: 300px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10% 10px;
            span{
                font-size: 17px;
                font-weight: bold;
            }
            img{
                display : block;
                position : relative;
                margin-left: auto;
                margin-right: auto;
                width: 80px;
                bottom : 80px;
            }
            h2{
                position : relative;
                bottom : 60px;
                font-size: 22px;
                font-weight: bold;
            }
            &#glycémie{
                grid-area: glycémie;
            }
            &#poids{
                grid-area:poids;
            }
            &#activite{
                grid-area: activite;
            }
        }
    }

    .ajout{
        margin-top: 35px;
        position : relative;
        left : 330px;

        .button{
            border: 1px solid $blue;
            width: 250px;
            height: 30px;
            border-radius: 10px;
            align-items: center;
            padding: 10px 10px 30px 10px;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                color:$light;
                cursor: pointer;
                border: 1px solid $light;
                transform: translateY(-3px);
                box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            }
        }
    }
    
}

