<app-view-toolbar></app-view-toolbar>

<div class="content">
    <h1>Mes paramètres</h1>

    <div class="menu">

        <div id="glycémie" class="property">
            <div>
                <img src="../assets/images/mes glycemies.png" />
                <h2>Ma glycémie</h2>
            </div>
            <div *ngFor="let parameter of historiqueGlycemie">
                <span [innerHTML]="parameter.valueDateTime"></span><span> : </span><span
                    [innerHTML]="parameter.valueDecimal"></span><span> g/L</span>
            </div>
        </div>

        <div id="poids" class="property">
            <div>
                <img src="../assets/images/balance-de-pesee.png" />
                <h2>Mon poids</h2>
            </div>
            <div *ngFor="let parameter of historiquePoids">
                <span [innerHTML]="parameter.valueDateTime"></span><span> : </span><span
                    [innerHTML]="parameter.valueDecimal"></span><span> kg</span>
            </div>
        </div>

        <div id="activite" class="property">
            <div>
                <img src="../assets/images/gymnastique.png" />
                <h2>Mes activités physiques</h2>
            </div>
            <div *ngFor="let parameter of historiqueActivite">
                <span [innerHTML]="parameter.valueDateTime"></span><span> : </span><span
                    [innerHTML]="parameter.valueString"></span>
            </div>
        </div>

    </div>

    <a routerLink="/addParameters">
        <div class="ajout">
            <button class="button" type="button">Ajouter des paramètres</button>
        </div>
    </a>


</div>