$blue:#4169e1;
.content{
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px 50px;
    flex-direction: column;
    align-items: center;
    .identite{
        display: grid;
        grid-template-areas: 
        'gauche droite';
        grid-template-columns: 50% 50%;
        grid-gap:50px;
        div{
                background-color: #ffffff;
                width: 200px;
                height: 100%;
                padding: 10px;
                border: 1px ridge $blue;
                &#gauche {
                    grid-area: gauche;

                }
   
                &#droite {
                    grid-area: droite;
                    
                }
        }   
    }
}    